* {
  box-sizing: border-box;
}

#container {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

#container>div {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  
}

#container>div:nth-child(17n + 1) {
  width: 100%;
  border: 0;
  height: 0;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  padding: 50px;
}